{
  "openapi": "3.1.0",
  "info": {
    "title": "Build with AK API & MCP Service",
    "version": "1.0.0",
    "description": "Official API and Model Context Protocol (MCP) server for authoring, validating, and submitting product showcases to the Build with AK Customer Directory on agentkit.best.",
    "contact": {
      "name": "AgentKit Support",
      "url": "https://agentkit.best",
      "email": "support@agentkit.best"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://bwak.agentkit.best",
      "description": "Production Cloudflare Worker Edge Server"
    }
  ],
  "security": [
    { "ApiKeyAuth": [] },
    { "OAuth2": ["build-with-ak:read", "build-with-ak:write"] }
  ],
  "paths": {
    "/": {
      "get": {
        "summary": "Service Index & Discovery",
        "description": "Returns service capability index, endpoint URLs, and documentation links.",
        "operationId": "getServiceIndex",
        "security": [],
        "responses": {
          "200": {
            "description": "Service index metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceIndex"
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Returns status ok and current timestamp.",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "ok" },
                    "timestamp": { "type": "string", "format": "date-time" }
                  },
                  "required": ["status", "timestamp"]
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "summary": "OAuth 2.1 Protected Resource Metadata (RFC 9728)",
        "description": "Exposes resource URI, authorization servers, and supported scopes for OAuth discovery.",
        "operationId": "getOAuthProtectedResourceMetadata",
        "security": [],
        "responses": {
          "200": {
            "description": "RFC 9728 Metadata Document",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectedResourceMetadata"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/ai-plugin.json": {
      "get": {
        "summary": "AI Plugin Manifest",
        "description": "OpenAI AI Plugin discovery manifest for ChatGPT and Custom GPT Actions.",
        "operationId": "getAiPluginManifest",
        "security": [],
        "responses": {
          "200": {
            "description": "AI Plugin manifest",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiPluginManifest"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI 3.1.0 Specification",
        "description": "Returns this OpenAPI schema definition.",
        "operationId": "getOpenApiSpec",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI schema",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/mcp": {
      "post": {
        "summary": "Streamable HTTP MCP Endpoint",
        "description": "Executes Model Context Protocol (MCP) JSON-RPC 2.0 commands over Streamable HTTP.",
        "operationId": "executeMcp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "jsonrpc": { "type": "string", "example": "2.0" },
                  "id": { "oneOf": [{ "type": "string" }, { "type": "number" }] },
                  "method": { "type": "string", "example": "tools/call" },
                  "params": { "type": "object" }
                },
                "required": ["jsonrpc", "method"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Streamed MCP response or JSON-RPC result",
            "content": {
              "text/event-stream": {
                "schema": { "type": "string" }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": { "type": "string", "example": "2.0" },
                    "id": { "oneOf": [{ "type": "string" }, { "type": "number" }] },
                    "result": { "type": "object" },
                    "error": { "type": "object" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — Missing or invalid API key or Bearer token with WWW-Authenticate challenge"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "AgentKit customer API key (ck_live_...)"
      },
      "OAuth2": {
        "type": "oauth2",
        "description": "OAuth 2.1 Authorization Code Flow with PKCE (S256)",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://agentkit.best/oauth/authorize",
            "tokenUrl": "https://agentkit.best/oauth/token",
            "scopes": {
              "build-with-ak:read": "Read product showcase draft and live listing",
              "build-with-ak:write": "Create, edit layout blocks, upload media, and submit showcase"
            }
          }
        }
      }
    },
    "schemas": {
      "ServiceIndex": {
        "type": "object",
        "properties": {
          "service": { "type": "string", "example": "Build with AK MCP Server" },
          "version": { "type": "string", "example": "1.0.0" },
          "documentation": { "type": "string", "format": "uri" },
          "endpoints": {
            "type": "object",
            "properties": {
              "mcp": { "type": "string" },
              "oauth_metadata": { "type": "string" },
              "ai_plugin": { "type": "string" },
              "openapi": { "type": "string" }
            }
          }
        },
        "required": ["service", "version", "endpoints"]
      },
      "ProtectedResourceMetadata": {
        "type": "object",
        "properties": {
          "resource": { "type": "string", "format": "uri" },
          "authorization_servers": {
            "type": "array",
            "items": { "type": "string", "format": "uri" }
          },
          "scopes_supported": {
            "type": "array",
            "items": { "type": "string" }
          },
          "bearer_methods_supported": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": ["resource", "authorization_servers", "scopes_supported", "bearer_methods_supported"]
      },
      "AiPluginManifest": {
        "type": "object",
        "properties": {
          "schema_version": { "type": "string", "example": "v1" },
          "name_for_human": { "type": "string", "example": "Build with AK" },
          "name_for_model": { "type": "string", "example": "build_with_ak" },
          "description_for_human": { "type": "string" },
          "description_for_model": { "type": "string" },
          "auth": { "type": "object" },
          "api": { "type": "object" },
          "logo_url": { "type": "string", "format": "uri" },
          "contact_email": { "type": "string", "format": "email" },
          "legal_info_url": { "type": "string", "format": "uri" }
        },
        "required": ["schema_version", "name_for_human", "name_for_model", "description_for_human", "description_for_model", "auth", "api", "logo_url", "contact_email", "legal_info_url"]
      }
    }
  }
}
